.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 480px;
  border: 2px solid #0b0707;
  border-radius: 4px;
}

.profileMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 16px;
}

.profileStats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: antiquewhite;
  padding: 16px;
  border-top: 2px solid #0b0707;
}

.profileMain img {
  width: 240px;
  border-radius: 50%;
  background-color: grey;
}
