*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  border: none;
  outline: none;
}

button {
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
  padding: 0;
}

html,
body {
  height: 100%;
}
